{
  presets: [
    ["@babel/preset-env", { targets: { node: true }}],
    "@babel/preset-typescript"
  ],
  plugins: [
    // Without `loose`, the transformation uses `Object.defineProperty` which
    // obeys the spec more, but we get a bundle that's 8kB larger. That was the
    // default in babel v6.
    ["@babel/plugin-proposal-class-properties", { loose: true }],

    // Like `plugin-proposal-class-properties`, `loose` option is being used
    // inside of this plugin as well. These plugins must have the same value,
    // therefore it's set to true here.
    ["@babel/plugin-proposal-private-methods", { "loose": true }],

    // Like `plugin-proposal-class-properties`, `loose` option is being used
    // inside of this plugin as well. These plugins must have the same value,
    // therefore it's set to true here.
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { useBuiltIns: true }]
  ]
}
